<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="lassaTireId" class="spring.Lassa"/>

    <bean id="goodYearId" class="spring.GoodYear"/>

    <bean id="petlasId" class="spring.Petlas"/>

    <bean id="carId" class="spring.Car">
        <property name="wheel" ref="lassaTireId"/>
    </bean>
</beans>